body {
    /*padding-top: 80px;*/
    overflow-x: hidden;
}



/* Social Icons Section Styles */
#social-links {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    text-align: center;
}

.social-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #343a40;
}

.social-icon a i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.social-icon a span {
    font-size: 0.9rem;
}




/* Portfolio Section Styles */
#portfolio {
    padding: 50px 0;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.875rem;
}




/* Navbar Styles */
.navbar {
    transition: background-color 0.3s ease-in-out;
    background-color: #343a40; /* Цвет фона для Navbar */
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #fff;
}

/*@media (max-width: 991.98px) {*/
/*    .navbar-expand-lg .navbar-nav {*/
/*        margin-top: 10px;*/
/*    }*/
/*}*/





/* Общие стили для секций */
section {
    padding: 50px 0;
}



section:nth-child(even) {
    background-color: #f8f9fa;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}





/* Стили для подвала */
footer {
    background-color: #343a40; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 20px 0; /* Внутренние отступы подвала */
    text-align: center; /* Выравнивание текста по центру */
}


h2 {
    margin-bottom: 3rem;
}



/* Skills Section Styles */
#skills {
    /*padding: 50px 0;*/
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    gap: 20px;
    justify-content: center;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically center */
    text-align: center;
}

.skill img {
    width: 5em; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
}






/*@media (min-width: 576px) {*/
/*}*/

/*@media (min-width: 768px) {*/
/*}*/

/*@media (min-width: 992px) {*/
/*}*/

/*@media (min-width: 1200px) {*/
/*}*/


