script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz", crossorigin="anonymous")

script(type="text/javascript", src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js")
script(type="text/javascript", charset="UTF-8").
    document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({
            "notice_banner_type": "simple",
            "consent_type": "express",
            "palette": "light",
            "language": "en",
            "page_load_consent_levels": ["strictly-necessary"],
            "notice_banner_reject_button_hide": false,
            "preferences_center_close_button_hide": false,
            "page_refresh_confirmation_buttons": false,
            "website_name": "ragmon.nl"
        });
    });

script(type="text/plain", data-cookie-consent="tracking", async, src="https://www.googletagmanager.com/gtag/js?id=G-EZELVRVYQM")
script(type="text/plain" data-cookie-consent="tracking").
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EZELVRVYQM');

noscript.
    Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a>

script(src="../index.ts")