meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Arthur Rahimov
//link(rel="stylesheet" href="photoswipe/dist/photoswipe.css")
link(rel="stylesheet", href="@styles/main.sass")