// Общие стили для контейнера
#project
  //padding: 20px 0

  .container
    max-width: 960px
    margin: auto

  // Стили для заголовков
  .project-title
    font-size: 2.5rem
    text-align: center
    margin-bottom: 30px
    color: #333

  // Стили для шапки проекта
  .project-header
    display: flex
    align-items: center
    margin-bottom: 30px

    .project-logo
      width: 100px
      height: auto
      margin-right: 20px

    .project-info
      h2
        margin-top: 0
        font-size: 1.5rem
        color: #555

      p
        font-size: 1rem
        margin-bottom: 10px
        color: #777

  // Стили для секций с описанием
  .project-section-title
    font-size: 1.75rem
    margin-top: 40px
    margin-bottom: 20px
    color: #333

  .project-description,
  .stack,
  .responsibilities
    font-size: 1rem
    line-height: 1.6
    color: #555

    ul
      padding-left: 20px

    li
      margin-bottom: 10px

  // Стили для галереи
  .pswp-gallery
    display: flex
    flex-wrap: wrap
    gap: 0.5em

    a
      display: block
      width: calc(33.333% - 10px)
      margin-bottom: 10px
      overflow: hidden
      border-radius: 8px
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

      img
        width: 100%
        height: auto
        object-fit: cover
        transition: transform 0.3s

        &:hover
          transform: scale(1.05)

  // Стили для кнопки
  .visit-project
    display: inline-block
    margin-top: 40px
    padding: 10px 20px
    font-size: 1rem
    color: #fff
    background-color: #007bff
    border-radius: 5px
    text-align: center
    text-decoration: none
    transition: background-color 0.3s

    &:hover
      background-color: #0056b3
