@import "node_modules/bootstrap/scss/bootstrap"

// font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome"
@import "~@fortawesome/fontawesome-free/scss/solid"
@import "~@fortawesome/fontawesome-free/scss/regular"
// Include only if needed
@import "~@fortawesome/fontawesome-free/scss/brands"
// Include only if needed

@import "base/reset"
@import "base/typography"
@import "base/variables"
@import "base/utilities"

@import "components/navbar"
@import "components/gallery"

@import "pages/index"
@import "pages/project"

body
  padding-top: $navbar-space
//overflow-x: hidden

section
  h2
    text-align: left

/* Common Section Styles */
section
  padding: 6em 0

section:nth-child(even)
  background-color: #f8f9fa

section:nth-child(odd)
  background-color: #f0f0f0
  ////background: repeating-linear-gradient(-45deg, #000 0px, #000 4px, transparent 4px, transparent 12px)
  //background: repeating-linear-gradient(transparent, transparent 20 px, yellowgreen 22 px), repeating-linear-gradient(90 deg, transparent, transparent 20 px, yellowgreen 22 px)

/* Footer Styles */
footer
  background-color: #343a40
  color: #fff
  padding: 20px 0
  text-align: center

h2
  margin-bottom: 3rem

@media (max-width: 767px)
  section
    padding: 3em 0
