extends ../../layouts/default

block content
  section#cookie-policy
    .container
      h1 Cookie Policy
      h2 Introduction
      p Welcome to #[a(href="http://ragmon.nl/") Ragmon.nl]. This Cookie Policy explains how I use cookies and similar technologies to recognize you when you visit my website. It explains what these technologies are and why I use them, as well as your rights to control their use.

      h2 1. What are Cookies?
      p Cookies are small text files placed on your device to improve your experience on the site. I use Google Analytics cookies to gather anonymous data about your browsing behavior to enhance the site's performance and user experience.

      h2 2. Types of Cookies I Use
      ul
        li Google Analytics Cookies: These cookies collect information about how visitors use the site. The data is anonymous and helps me compile reports to improve the site's functionality and content.

      h2 3. Managing Cookies
      p You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can modify your browser settings to decline them if you prefer. Additionally, you can delete cookies from your browser settings at any time. Please note that disabling cookies may affect the functionality of the website.

      h2 4. Data Processing
      p The data collected via Google Analytics cookies is solely for analyzing website traffic and user interactions to improve the services offered. No personal data is collected or processed.

      h2 5. Third-Party Sharing
      p I do not share your data with any third parties. The data collected through Google Analytics is managed by Google and used in accordance with their privacy policy.

      h2 6. International Data Transfers
      p Google Analytics data may be processed outside the European Economic Area (EEA) by Google or its partners. Google ensures adequate protection measures are in place for these data transfers, in compliance with GDPR.

      h2 7. Changes to This Policy
      p I may update this cookie policy from time to time to reflect changes in my practices or legal requirements. Please review this policy periodically to stay informed about how I use cookies and similar technologies.

      h2 8. Contact Me
      p If you have any questions or concerns about this cookie policy or my data practices, please contact me at #[a(href="mailto:arthur.ragimov@gmail.com") arthur.ragimov@gmail.com].
