extends ../../layouts/default

block content
  section#legal
    .container
      h1 Legal Information
      p This page contains all the legal information for my website. Please refer to the following policies for more details:
      ul
        li
          a(href="/legal/privacy-policy") Privacy Policy
        li
          a(href="/legal/cookie-policy") Cookie Policy
        li
          a(href="/legal/terms-of-use") Terms of Use
