extends ../../layouts/default

block content
  section.legal-section
    .container
      h1 Terms of Use

      h2 Welcome
      p Welcome to my website! This site is designed to provide information about me as a freelancer and includes my portfolio, contact information, and links to social media.

      h2 1. Acceptance of Terms
      p By using this site, you agree to these terms of use. If you do not agree with these terms, please do not use the site.

      h2 2. Use of Content
      p All content on this site, including text and images, is provided for informational purposes. You may view and use the information but agree not to copy or use the content for commercial purposes without my permission.

      h2 3. Intellectual Property Rights
      p All materials on this site, including the portfolio, are owned by me. Copying or using these materials without my written permission is prohibited.

      h2 4. Limitation of Liability
      p The site is for informational purposes only. I am not responsible for any losses or consequences that may arise from the use of the information on this site.

      h2 5. Changes to Terms
      p I reserve the right to change the terms of use at any time. Changes will be posted on this page. It is recommended to regularly check this page for updates.

      h2 6. Contact Information
      p If you have any questions or suggestions regarding the terms of use, please contact me using the contact information provided on the site.