block variables
doctype html
html(lang="en")
    head
        block head
            include components/head
    body
        block navbar
            include components/navbar

        block content

        block footer
            include components/footer

    block scripts
        include components/scripts
